<form [formGroup]="coverSheetForm" (ngSubmit)="onSubmit()">
  <div class="title">
    <h2>Cover Sheet</h2>
  </div>
  <div class="one">
    <mat-form-field appearance="outline" class="Acc_width ">
      <mat-label>Property Manager</mat-label>
      <input type="text" matInput formControlName="propertyManager">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Primary Tenant</mat-label>
      <input type="text" matInput formControlName="primaryTenant">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Tenant2</mat-label>
      <input type="text" matInput formControlName="tenant2">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Tenant3</mat-label>
      <input type="text" matInput formControlName="tenant3">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Tenant4</mat-label>
      <input type="text" matInput formControlName="tenant4">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Property Address</mat-label>
      <input type="text" matInput formControlName="propertyAddress">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input type="text" matInput formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input type="text" matInput formControlName="state">
    </mat-form-field>
  </div>

  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Unit Code</mat-label>
      <input type="text" matInput formControlName="unitCode">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Best POC/Method</mat-label>
      <input type="text" matInput formControlName="bestPOC">
    </mat-form-field>
  </div>

  <div class="one">
    <!--<mat-form-field appearance="outline">
      <mat-label>Rent Ready Date</mat-label>
      <input type="date" matInput formControlName="rentReadyDate">
    </mat-form-field>-->

    <mat-form-field appearance="outline">
      <mat-label>Deposit Paid Date</mat-label>

      <input matInput [matDatepicker]="rentReadyDatePicker" placeholder="Choose a date" formControlName="rentReadyDate">
      <mat-datepicker-toggle matSuffix [for]="rentReadyDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #rentReadyDatePicker></mat-datepicker>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Deposit Paid Date</mat-label>
      <input matInput [matDatepicker]="depositPaidDatePicker" placeholder="Choose a date" formControlName="depositPaidDate">
      <mat-datepicker-toggle matSuffix [for]="depositPaidDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #depositPaidDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Rent Responsible Date</mat-label>
      <input matInput [matDatepicker]="rentResponsibleDatePicker" placeholder="Choose a date" formControlName="rentResponsibleDate">
      <mat-datepicker-toggle matSuffix [for]="rentResponsibleDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #rentResponsibleDatePicker></mat-datepicker>
    </mat-form-field>
  
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Agreement Type</mat-label>
     
      <mat-select formControlName="agreementType">
        <mat-option [value]="1">MTM</mat-option>
        <mat-option [value]="2">6 mo lease</mat-option>
        <mat-option [value]="3">12 mo lease</mat-option>
        <mat-option [value]="4">FF</mat-option>
        <mat-option [value]="5">Other Lease Term</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>QC Date</mat-label>
      <input matInput [matDatepicker]="qCDatePicker" placeholder="Choose a date" formControlName="qcDate">
      <mat-datepicker-toggle matSuffix [for]="qCDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #qCDatePicker></mat-datepicker>
    </mat-form-field>
    
  </div>

  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Rent Responsible Date</mat-label>
      <input matInput [matDatepicker]="signingDatePicker" placeholder="Choose a date" formControlName="signingDate">
      <mat-datepicker-toggle matSuffix [for]="signingDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #signingDatePicker></mat-datepicker>
    </mat-form-field>
    <!--<mat-form-field appearance="outline">
      <mat-label>Signing Date</mat-label>
      <input type="date" matInput formControlName="signingDate">
    </mat-form-field>-->
    <!--<mat-form-field appearance="outline">
    <mat-label>Time</mat-label>
    <input type="time" matInput formControlName="signingTime">
  </mat-form-field>-->
    <mat-form-field appearance="outline">
      <mat-label>With Whome</mat-label>
      <input type="text" matInput formControlName="withWhom">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>Other Terms</mat-label>
      <textarea type="text" matInput formControlName="otherTerms"></textarea>
    </mat-form-field>
  </div>

  <div class="one">
    <mat-form-field appearance="outline">
      <mat-label>List Paid Utilities</mat-label>
      <textarea type="text" matInput formControlName="listPaidUtilities"></textarea>
    </mat-form-field>
  </div>

  <div class="monthly_rent">
    <div>
      <h2>Monthly Rent :</h2>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge11">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge12">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge21">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge22">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge31">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge32">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge41">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Monthly charge</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge42">
      </mat-form-field>
    </div>

    <div class="one" style="display: flex; justify-content: space-around; text-align: center;">
      <div>
        <h2>Charge</h2>
      </div>
      <div>
        <h2>Paid</h2>
      </div>
    </div>
    <!-- ------------------------------- -->
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Move-in Rent</mat-label>
        <input type="number" matInput formControlName="moveinRentCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Move-in Rent</mat-label>
        <input type="number" matInput formControlName="moveinRentPaid">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Move-in charge 1</mat-label>
        <input type="number" matInput formControlName="otherMoveinCharge1">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Move-in Paid 1</mat-label>
        <input type="number" matInput formControlName="otherMoveinChargePaid1">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Move-in charge 2</mat-label>
        <input type="number" matInput formControlName="otherMoveinCharge2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Move-in charge Paid 2</mat-label>
        <input type="number" matInput formControlName="otherMoveinChargePaid2">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Other Move-in charge 3</mat-label>
        <input type="number" matInput formControlName="otherMoveinCharge3">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Move-in charge Paid 3</mat-label>
        <input type="number" matInput formControlName="otherMoveinChargePaid3">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label><b>RUBS</b> Move-in charge</mat-label>
        <input type="number" matInput formControlName="rubsMoveinCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label><b>RUBS</b> Move-in charge Paid</mat-label>
        <input type="number" matInput formControlName="rubsMoveinChargePaid">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Paid Cleaning</mat-label>
        <input type="number" matInput formControlName="prepaidCleaningCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Paid Cleaning</mat-label>
        <input type="number" matInput formControlName="prepaidCleaningPaid">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>security Deposit</mat-label>
        <input type="number" matInput formControlName="securityDepositCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>security Deposit</mat-label>
        <input type="number" matInput formControlName="securityDepositPaid">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Non-ref processing fee Charge</mat-label>
        <input type="number" matInput formControlName="nonRefProcessingFeeCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Non-ref processing fee Paid</mat-label>
        <input type="number" matInput formControlName="nonRefProcessingFeePaid">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Pet Deposit Charge</mat-label>
        <input type="number" matInput formControlName="petDepositCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pet Deposit Paid</mat-label>
        <input type="number" matInput formControlName="petDepositPaid">
      </mat-form-field>
    </div>
    <div class="one">
      <mat-form-field appearance="outline">
        <mat-label>Pet Non-ref. fee Charge</mat-label>
        <input type="number" matInput formControlName="petNonRefFeeCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pet Non-ref. fee Paid</mat-label>
        <input type="number" matInput formControlName="petNonRefFeePaid">
      </mat-form-field>
    </div>
    <div class="one">

      <mat-form-field appearance="outline">
        <mat-label>Additional Deposit Charge</mat-label>
        <input type="number" matInput formControlName="additionDepositCharge">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Additional Deposit Paid</mat-label>
        <input type="number" matInput formControlName="additionDepositPaid">
      </mat-form-field>
    </div>


  </div>



  <mat-grid-list cols="6" rowHeight="100px">
    <!-- First row -->
    <mat-grid-tile colspan="1" rowspan="1">Sub Total</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="one">
        <mat-form-field appearance="outline">
          <mat-label>Pet Non-ref. fee</mat-label>
          <input type="number" matInput formControlName="subTotal">
        </mat-form-field>

      </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Paid</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="one">
        <mat-form-field appearance="outline">
          <mat-label>Pet Non-ref. fee</mat-label>
          <input type="number" matInput formControlName="paid">
        </mat-form-field>

      </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Due at Movein KeyPickup</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="one">
        <mat-form-field appearance="outline">
          <mat-label>Pet Non-ref. fee</mat-label>
          <input type="number" matInput formControlName="dueatMoveinKeyPickup">
        </mat-form-field>

      </div>

    </mat-grid-tile>

    <!-- Second row -->

  </mat-grid-list>




  <!-- <div class="one">
            <mat-form-field appearance="outline">
              <mat-label>Rent Ready Date</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </div> -->
  <!-- </div> -->
  <div style="display: flex; justify-content: space-between; align-items: safe center;">
    <!--<button type="button" (click)="onCancel()"  mat-raised-button color="primary" class="btn btn-secondary ml-2">Cancel</button>-->

    <!--<button type="submit" mat-raised-button color="primary">Submit</button>-->
    <button class="btn btn-sm btn-success mr-2" style="background-color: #2ba8ce !important; margin-right: 10px;" >Submit</button>


  </div>
</form>
