
<form [formGroup]="coverSheetForm" (ngSubmit)="onSubmit()">
  <!-- <div style="position: absolute; top: 100px; left: 40px;">
    <img src="[c:\Users\everest\Downloads\Picture1.jpg]" alt="Logo" style="width: 150px; height: auto; margin-bottom: 20px;">
  </div> -->

  <div class="title" style="display: flex; justify-content: center; align-items: center;">
    <h2>Cover Sheet</h2>
  </div>
  <!-- <div class="col-md-8">
    <button class="btn btn-sm btn-success mr-2" (click)="viewRecord()" style="background-color: #2ba8ce !important; margin-right: 10px;" >View</button>

  </div> -->


  <div class="one" style="display: flex; justify-content: center; align-items: center;">
    <mat-form-field appearance="outline" floatLabel="always"  class="Acc_width" style="width: 30%;">
       <mat-label class="label-styling">Property Manager</mat-label>
      <input type="text" matInput formControlName="propertyManager">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Primary Tenant</mat-label>
      <input type="text" matInput formControlName="primaryTenant" [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Tenant 2</mat-label>
      <input type="text" matInput formControlName="tenant2" [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Tenant 3</mat-label>
      <input type="text" matInput formControlName="tenant3" [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Tenant 4</mat-label>
      <input type="text" matInput formControlName="tenant4" [readonly]="true">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Property Address</mat-label>
      <input type="text" matInput formControlName="propertyAddress" [readonly]="true">
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">City</mat-label>
      <input type="text" matInput formControlName="city" [readonly]="true">
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">State</mat-label>
      <input type="text" matInput formControlName="state" [readonly]="true">
    </mat-form-field>


    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Unit Code</mat-label>
      <input type="text" matInput formControlName="unitCode">
    </mat-form-field>
  </div>

  <div class="one">
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Best POC/Method</mat-label>
      <input type="text" matInput formControlName="bestPOC">
    </mat-form-field>

    <!--<mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Rent Ready Date</mat-label>
      <input type="date" matInput formControlName="rentReadyDate">
    </mat-form-field>-->

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Rent Ready Date</mat-label>

      <input matInput [matDatepicker]="rentReadyDatePicker" placeholder="Choose a date" formControlName="rentReadyDate">
      <mat-datepicker-toggle matSuffix [for]="rentReadyDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #rentReadyDatePicker></mat-datepicker>

    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Deposit Paid Date</mat-label>
      <input matInput [matDatepicker]="depositPaidDatePicker" placeholder="Choose a date" formControlName="depositPaidDate">
      <mat-datepicker-toggle matSuffix [for]="depositPaidDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #depositPaidDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Rent Responsible Date</mat-label>
      <input matInput [matDatepicker]="rentResponsibleDatePicker" placeholder="Choose a date" (dateChange)="getMoveinRent($event,coverSheetForm.get('monthlyRent')?.value)" formControlName="rentResponsibleDate">
      <mat-datepicker-toggle matSuffix [for]="rentResponsibleDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #rentResponsibleDatePicker></mat-datepicker>
    </mat-form-field>

  </div>
  <div class="one">
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Agreement Type</mat-label>

      <mat-select formControlName="agreementType">
        <mat-option [value]="1">MTM</mat-option>
        <mat-option [value]="2">6 mo lease</mat-option>
        <mat-option [value]="3">12 mo lease</mat-option>
        <mat-option [value]="4">FF</mat-option>
        <mat-option [value]="5">Other Lease Term</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">QC Date</mat-label>
      <input matInput [matDatepicker]="qCDatePicker" placeholder="Choose a date" formControlName="qcDate">
      <mat-datepicker-toggle matSuffix [for]="qCDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #qCDatePicker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Signing Date</mat-label>
      <input matInput [matDatepicker]="signingDatePicker" placeholder="Choose a date" formControlName="signingDate">
      <mat-datepicker-toggle matSuffix [for]="signingDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #signingDatePicker></mat-datepicker>
    </mat-form-field>
    <!--<mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Signing Date</mat-label>
      <input type="date" matInput formControlName="signingDate">
    </mat-form-field>-->
    <!--<mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Time</mat-label>
      <input type="time" matInput formControlName="signingTime">
    </mat-form-field>-->
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">With Whom</mat-label>
      <input type="text" matInput formControlName="withWhom">
    </mat-form-field>
  </div>
  <div class="one">
    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">Other Terms</mat-label>
      <textarea type="text" matInput formControlName="otherTerms"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" >
       <mat-label class="label-styling">List Paid Utilities</mat-label>
      <textarea type="text" matInput formControlName="listPaidUtilities"></textarea>
    </mat-form-field>
  </div>

  <div class="one" style="display: flex; justify-content: center; align-items: center;">
    <div class=" one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always"  floatLabel="always"class="Acc_width" style="width: 60%;" >
         <mat-label class="label-styling">Monthly Rent</mat-label>
        <input type="number" matInput [readonly]="true" formControlName="monthlyRent">
      </mat-form-field>
    </div>
  </div>
  <div class="monthly_rent">
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>

      <mat-form-field appearance="outline" floatLabel="always"  floatLabel="always"style="width: 700px;">
         <mat-label class="label-styling">Other Monthly Charge Amount</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge11" (input)="getOtherMoveinCharge1()">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Monthly Charge Description</mat-label>
        <input type="text" matInput formControlName="otherMonthlyCharge12">
      </mat-form-field>
    
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always"  floatLabel="always"style="width: 700px;">
         <mat-label class="label-styling">Other Monthly Charge Amount</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge21" (input)="getOtherMoveinCharge2()">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Monthly Charge Description</mat-label>
        <input type="text" matInput formControlName="otherMonthlyCharge22">
      </mat-form-field>
    </div>
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" style="width: 700px;">
         <mat-label class="label-styling">Other Monthly Charge Amount</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge31" (input)="getOtherMoveinCharge3()">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Monthly Charge Description</mat-label>
        <input type="text" matInput formControlName="otherMonthlyCharge32">
      </mat-form-field>
    
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" style="width: 700px;">
         <mat-label class="label-styling">Other Monthly Charge Amount</mat-label>
        <input type="number" matInput formControlName="otherMonthlyCharge41">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Monthly Charge Description</mat-label>
        <input type="text" matInput formControlName="otherMonthlyCharge42">
      </mat-form-field>
    </div>

    <div class="one" style="display: flex; justify-content: space-around; text-align: center;">
      <div>
        <h2>Charge</h2>
      </div>
      <div>
        <h2>Paid</h2>
      </div>
      <div>
        <h2>Charge</h2>
      </div>
      <div>
        <h2>Paid</h2>
      </div>
    </div>
    <!-- ------------------------------- -->
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Move-in Rent Charge</mat-label>
        <input type="number" matInput formControlName="moveinRentCharge" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Move-in Rent Paid</mat-label>
        <input type="number" matInput formControlName="moveinRentPaid">
      </mat-form-field>
    
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Move-in Charge 1</mat-label>
        <input type="number" matInput formControlName="otherMoveinCharge1" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Move-in Paid 1</mat-label>
        <input type="number" matInput formControlName="otherMoveinChargePaid1">
      </mat-form-field>
    </div>
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Move-in Charge 2</mat-label>
        <input type="number" matInput formControlName="otherMoveinCharge2" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Move-in Charge Paid 2</mat-label>
        <input type="number" matInput formControlName="otherMoveinChargePaid2">
      </mat-form-field>
   
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Move-in Charge 3</mat-label>
        <input type="number" matInput formControlName="otherMoveinCharge3" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Other Move-in Charge Paid 3</mat-label>
        <input type="number" matInput formControlName="otherMoveinChargePaid3">
      </mat-form-field>
    </div>
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling"><b>RUBS</b> Move-in Charge</mat-label>
        <input type="number" matInput formControlName="rubsMoveinCharge">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling"><b>RUBS</b> Move-in Charge Paid</mat-label>
        <input type="number" matInput formControlName="rubsMoveinChargePaid">
      </mat-form-field>
  
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Prepaid Cleaning Charge</mat-label>
        <input type="number" matInput formControlName="prepaidCleaningCharge">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Prepaid Cleaning Charge Paid</mat-label>
        <input type="number" matInput formControlName="prepaidCleaningPaid">
      </mat-form-field>
    </div>
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Security Deposit Charge</mat-label>
        <input type="number" matInput formControlName="securityDepositCharge" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Security Deposit Paid</mat-label>
        <input type="number" matInput formControlName="securityDepositPaid">
      </mat-form-field> 
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Non-Ref Processing Fee Charge</mat-label>
        <input type="number" matInput formControlName="nonRefProcessingFeeCharge">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Non-Ref Processing Fee Paid</mat-label>
        <input type="number" matInput formControlName="nonRefProcessingFeePaid">
      </mat-form-field>
    </div>
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Pet Deposit Charge</mat-label>
        <input type="number" matInput formControlName="petDepositCharge" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Pet Deposit Paid</mat-label>
        <input type="number" matInput formControlName="petDepositPaid">
      </mat-form-field>
 
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Pet Non-Ref. Fee Charge</mat-label>
        <input type="number" matInput formControlName="petNonRefFeeCharge">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Pet Non-Ref. Fee Paid</mat-label>
        <input type="number" matInput formControlName="petNonRefFeePaid">
      </mat-form-field>
    </div>
    <div class="one">
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Additional Deposit Charge</mat-label>
        <input type="number" matInput formControlName="additionDepositCharge" [readonly]="true">
      </mat-form-field>
      <span class="input-group-text" style="height: 58px;">$</span>
      <mat-form-field appearance="outline" floatLabel="always" >
         <mat-label class="label-styling">Additional Deposit Paid</mat-label>
        <input type="number" matInput formControlName="additionDepositPaid">
      </mat-form-field>
    </div>


  </div>



  <mat-grid-list cols="6" rowHeight="100px">

    <mat-grid-tile colspan="1" rowspan="1">Sub Total</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="one">
        <span class="input-group-text" style="height: 58px;">$</span>
        <mat-form-field appearance="outline" floatLabel="always" >
           <mat-label class="label-styling">Sub Total</mat-label>
          <input type="number" matInput [readonly]="true" formControlName="subTotal">
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Paid</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="one">

        <span class="input-group-text" style="height: 58px;">$</span>
        <mat-form-field appearance="outline" floatLabel="always" >
           <mat-label class="label-styling">Paid</mat-label>
          <input type="number" matInput [readonly]="true" formControlName="paid">
        </mat-form-field>

      </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Due at Movein KeyPickup</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <div class="one">

        <span class="input-group-text" style="height: 58px;">$</span>
        <mat-form-field appearance="outline" floatLabel="always" >
           <mat-label class="label-styling">Due at Movein KeyPickup</mat-label>
          <input type="number" matInput [readonly]="true" formControlName="dueatMoveinKeyPickup">
        </mat-form-field>

      </div>

    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #view_record let-modal>
    <div class="modal-header" style="width: 1020px; background-color: white;">
      <h4 class="modal-title" id="modal-basic-title">
        {{ _record[0]?.primarytenant }} {{ _record[0]?.tenant2 }} {{ _record[0]?.tenant3 }} {{ _record[0]?.tenant4 }}
      </h4>
    </div>
  </ng-template>



  <!-- <div class="one">
            <mat-form-field appearance="outline" floatLabel="always" >
               <mat-label class="label-styling">Rent Ready Date</mat-label>
              <input type="text" matInput>
            </mat-form-field>
          </div> -->
  <!-- </div> -->
  <div style="display: flex; justify-content: space-between; align-items: safe center;">
    <!--<button type="button" (click)="onCancel()"  mat-raised-button color="primary" class="btn btn-secondary ml-2">Cancel</button>-->
    <!--<button type="submit" mat-raised-button color="primary">Submit</button>-->
    <button class="btn btn-sm btn-success mr-2" style="background-color: #2ba8ce !important; margin-right: 10px;">Submit</button>


  </div>
</form>
